html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.drawer-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.selector-container {
    background-color: lightgrey;
    width: 330px;
    height: 800px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    margin-left: 30px;
    background: radial-gradient(ellipse at center, #eee 0%, #ccc 100%);
}


input {
    width: 80%;
    height: 4%;
    margin: 8px auto;
    display: block;
    font-size: 18px;
    border: #9c2424 solid 2px;
    background-color: #fff;
    outline: none;
    border-radius: 10px;
}

#startLocator {
    margin-top: 80px;
    position: relative;
}

#endLocator {
    position: relative;
}

#startSuggestions, #endSuggestions {
    
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#startSuggestions li, #endSuggestions li {
    
    border-top: 1px solid #999;
    background-color: #f9f9f9;
    padding: 15px 10px;
    cursor: pointer;
}

#startSuggestions li:hover, #endSuggestions li:hover {
    background-color: #f1f1f1;
}

::placeholder {
    color: #555;
}


.svg-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

